@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Open+Sans:400,700,400italic,300italic,300);

/*Never forget your semicolons!*/

#wrapper {
	width: 1300px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background-color: #F5F6FA;
	box-shadow: 2px 2px 6px #888888;
}

body {
	background-image: url(../images/makeup-background.png);
	background-size: cover;
	background-color: white;  
}

header {
	background-color: white;
	box-shadow: 2px 2px 6px #888888;
}

header h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 8em;
	color: #99007a;
	text-align: center;
	font-weight: bold;
}

hr {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #cc00a3;
}

nav ul:first-child {
	display: inline-block;
	text-align: center;
	padding-left: 20px;
}

nav li {
	display: inline-block;
	text-align: center;
	padding: 10px 12px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	text-transform: uppercase;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #4d003d;
}

nav a:active{
	background-color: white;
	color: #99007a;
	border: 5px solid white;
}

aside {
	width: 20%;
	float: left;
	position: relative;
	background-color: white;
	display: inline-block;
	box-shadow: 1px 1px 5px #888888;
	top: 25px;
}

aside li {
	margin: 20px;
	margin
}

aside a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #9257e0;
	font-weight: bold;
}

aside a:hover {
	color: #e600b8
}

aside a:active{
	color: #ffb3f0;
}

section {
	width: 75%;
	position: relative;
	float: right;
	background-color: white;
	padding: 20px;
	display: inline-block;
	top: 25px;
	box-shadow: 0.5px 0.5px 3px #888888;
	right: 30px;
}

section article {
	margin-bottom: 25px;
	padding-right: 40px;
	padding-left: 40px;
}

article h2 {
	font-family: 'Open Sans', sans-serif;
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article h4 {
	font-family: 'Open Sans', sans-serif;
	display: block;
    margin-top: 0.5em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

article p {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	margin-bottom: 1.5em;
	line-height: 1.5em;
}

footer {
	position: relative;
	clear: both;
	text-align: center;
}

footer h3 {
	display: inline-block;
	margin-top: 90px;
	font-family: 'Open Sans', sans-serif;
    font-size: 1.17em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

footer img {
	display: inline-block;
	width: 3%;
	height: auto;	
	margin-left: 20px;
	margin-right: 10px;
}

