@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:400,700|Chicle|Nunito:300,400,700);

#wrapper {
	max-width: 990px;
	margin: 0 auto;
}

header {
	margin-left: auto;
	margin-right: auto;
	background-color: #9d723a;
}

h1 {
	margin-bottom: 2%;
	text-align: center;	
}

h1 img {
	margin-top: 1.5%;
}

nav {
	margin-left: auto;
	margin-right: auto;
	background-color: #473E3F;
}

nav a li {
	text-align: center;
	display: inline-block;
	padding: 20px 6px;
	font-family: 'Delius Unicase', cursive;
	font-weight: bold;
	color: #b07a68;
}

nav a li:hover {
	background-color: #b07a68;
	color: white;
}

#navlink {
	display: inline-block;
	margin-left: 30px;
}

#navextra {
	background-color: #473E3F;
	display: inline-block;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

#search {
	float: left;
	margin-top: 4px;
	margin-right: 30px;
}

#lupa {
	float: right;
	margin-left: 10px;
	margin-top: 7px;
}

#lupa:hover {
	opacity: 0.6;
}

#cart {
	float: left;
	margin-top: 5px;
}

#cart:hover {
	opacity: 0.6;
}

nav input {
	display: inline-block;
	border-radius: 15px;
	background-color: white;
	padding: 4px 6px 4px 20px;
}

.main {
	margin-top: 2.5%;
	position: relative;
	max-width: 1000px;
}

.main img {
	width: 100%;
}

.main .text {
	padding:  20px 40px;
	margin-left: 30px;
	position: absolute;
	bottom: 40px;
	color: white;
	font-family: 'Delius Unicase';
	font-weight: bold;
	font-size: 2.5em;
	background-color: rgba(0,0,0,0.5);
}

.main.signup {
	background-color: #9d723a;
	padding-bottom: 20px;
}

.heading {
	background-color: #5b4222;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ya {
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}

.ya a {
	color: #473E3F;
}

.main.signup .heading div {
	display: inline-block;
}

.main.signup form {
	display: table;
}

.main.signup p {
	display: table-row;
}

.main.signup label {
	display: table-cell;
	text-align: right;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}

.main.signup #uno input {
	margin-top: 10px;
	margin-bottom: 10px;
	display: table-cell;
	width: 200px;
}

.main.signup #dos input {
	margin-bottom: 20px;
	display: table-cell;
	width: 250px;
	height: 20px;
}

.main.signup #dos {
	margin-top: 40px;
}

.main.signup form select {
	margin-top: 10px;
	margin-bottom: 10px;
	display: table-cell;
	margin-left: 2px;
}

.main.signup #form2 {
	margin-top: 40px;
	margin-right: 260px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;

}

.main.signup #formloginbtn {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;

}

label {
	font-family: 'Nunito', sans-serif;
}

select {
	font-family: 'Nunito', sans-serif;
}

.main.signup #formcontactbtn {
	margin-top: 40px;
}

.form {
	text-align: center;
	max-width: 100%;
	padding-left: 30%;
}

.formlogin {
	max-width: 100%;
	padding-left: 37%;
}

.formcontact {
	max-width: 100%;
	padding-left: 10%;
}

.formcontact #dos #duda {
	width: 500px;
	height: 100px;
}

.main.signup #sexo {
	width: 200px;
}

.main.signup #dia {
	margin-right: 10px;
}

.main.signup #mes {
	margin-right: 10px;
}

.main.signup #pais {
	width: 200px;
}

.main.signup select {
	margin-left: 10px;
}

.main.signup form input #check {
	width: 20px;
}

.main.signup form input #button {
	padding: 16px 20px;
}

.main.signup p #pass {
	color: #473E3F;
	font-family: 'Nunito', sans-serif;
	text-align: left;
}

#dos p {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}

.main.signup .col1 {
	position: relative;
	display: inline-block;
	text-align: center;
	max-width: 50%;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 20px; 
}

.col1 p {
	position: relative;
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 1.33em;
}

.col1 img {
	border-radius: 100px;
	max-width: 100%;
	margin-bottom: 30px;
}

.main.signup .col2 {
	display: inline-block;
	float: right;
	margin-top: 100px;
}

.col2 {
	margin-right: 90px;
}

.col2 #eligepapa {
	width: 300px;
	font-size: 1.5em;
	margin-left: 0;
	font-family: 'Nunito', sans-serif;
}

.col2 #cantidad {
	width: 300px;
	font-size: 1.5em;
	margin-left: 0;
	margin-bottom: 40px;
	font-family: 'Nunito', sans-serif;
}


.col2 a {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	margin-top: 7px;
	margin-left: 22px;
}

.col2 .button {
	background-color: #473E3F;
	width: 170px;
	margin-top: 20px;
}

.col2 #nota {
	margin-top: 40px;
	font-family: 'Nunito', sans-serif;
}

#h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#h3 p {
	font-family: 'Nunito', sans-serif;	
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: white;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: white;
}

.fila {
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 80%;
	background-color: white;
}

.fila .imagen {
	display: inline-block;
	max-width: 30%;
	margin-left: 4%;
}

.fila img {
	max-width: 100%;
}

.fila .papatext {
	background-color: white;
	max-width: 50%;
	display: inline-block;
	margin-left: 10%;
	margin-bottom: 5px;
}

.fila .papatext p {
	max-width: 100%;
	font-family: 'Nunito', sans-serif;
}

.titulo {
	display: block;
	background-color: #5b4222;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.33em;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
}

.galeria{
	margin-top: 40px;
	width: 40%;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.galeria .button {
	background-color: #473E3F;
	max-width: 100%;
	text-align: center;
}

.galeria .button a {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
	margin-top: 7px;
	margin-left: 22px;
}

.galeria .title {
	display: block;
	background-color: #5b4222;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 1.33em;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	max-width: 100%;
}

.galeria .image {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/blue.jpg);
	background-size: cover;
	background-position: center;
}

.galeria .image1 {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/red.jpg);
	background-size: cover;
	background-position: center;
}

.galeria .image2 {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/ozette.jpg);
	background-size: cover;
	background-position: center;
}

.galeria .image3 {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/white.jpg);
	background-size: cover;
	background-position: center;
}

.galeria .image4 {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/french.jpg);
	background-size: cover;
	background-position: center;
}

.galeria .image5 {
	max-width: 100%;
	height: 300px;
	background-image: url(../images/russet.jpg);
	background-size: cover;
	background-position: center;
}

.slideshow-btn-left {
	position: absolute;
	top: 40%;
	left: 2%;
	width: 10%;
}

.slideshow-btn-right {
	position: absolute;
	top: 40%;
	right: 2%;
	width: 10%;
}

.slideshow-btn-right:hover {
	cursor: pointer;
}

.slideshow-btn-left:hover {
	cursor: pointer;
}

.mySlides {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	margin-top: 2.5%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
	background-color: #9d723a;
}

footer #social {
	margin-top: 10px;
	display: flex;
	text-align: center;
}

footer #social img {
	width: 70%;
	margin-left: 30px;
	display: inline-block;
}

footer #top {
	position: relative;
	display: flex;
	justify-content: center;
}

footer #top p {
	display: flex;
	justify-content: center;
}

footer #top img {
	display: flex;
	margin-top: 6px;
	margin-left: 10px;
}

footer #social img:hover {
	opacity: 0.6;
}

footer #top button {
	margin-right: 30px;
	display: flex;
	background-color: #473E3F;
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	width: 170px;
	justify-content: center;
	padding-top: 10px;
	border: none;
}

footer #top button a {
	font-family: 'Nunito', sans-serif;
	font-size: 1.5em;
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-bottom: 10px;
}

footer #top button img {
	width: 10%;
	display: inline-block;
}

#copyright {
	display: block;
	text-align: center;
	background-color: #473E3F;
	padding-top: 15px;
	padding-bottom: 15px;
}

#copyright p {
	font-family:'Nunito', sans-serif;
	font-size: 1.05em;
	color: #b07a68;
}

@media screen and (max-width: 777px) {
	body {
		background-color: #473E3F; 
	}

	header h1 {
		max-width: 98%;
	}

	header h1 img {
		max-width: 100%;
	}

	#navlink {
		display: block;
		margin: 0;
	}

	#navlink li {
		display: block;
	}

	#navlink a li {
		text-decoration: none;
	}

	#navextra {
		margin: 0;
		display: block;
		float: none;
		text-align: center;
	}

	#search {
		float: none;
		margin: 0 auto;
		max-width: 40%;
	}

	#navextra #search form input {
		max-width: 100%;
	}

	#lupa {
		margin: 5px 0 0 0;
	}

	#cart {
		display: block;
		float: none;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	#main {
		padding: 0;
		margin: 0;
	}

	header {
		margin: 0;
		background-color: #473E3F;
	}

	.mySlides a .text p {
		font-size: 0.8em;
	}

	.mySlides a .text {
		margin: 0 auto;
		padding: 10px 20px;
		bottom: 0;
		max-width: 100%;
	}

	footer {
		margin: 0;
		display: block;
	}

	footer #social {
		display: block;
	}

	footer #social img {
		max-width: 10%;
	}

	footer #top {
		display: block;
	}

	footer #top button {
		margin: 15px auto 0 auto;
	}

	.formlogin {
		padding: 0;
	}

	.formlogin #dos {
		margin: 0 auto;
	}

	.main.signup p {
		margin: 0 auto;
		text-align: center;
		display: block;
	}

	.formcontact #dos {
		width: 100%;
	}

	.formcontact #dos p {
		text-align: left;
	}

	#dos textarea {
		width: 88%;
	}

	.formcontact #dos input {
		display: block;
		max-width: 228px;
	}

	.galeria {
		display: block;
		width: 90%;
		margin: 20px auto 0 auto;
	}

	#uno {
		margin: 50px auto 0 auto;		
	}

	.main.signup .form {
		padding: 0;
	}

	.main.signup #form2 {
		margin: 40px auto 0 auto;
	}

	.col1 p {
		font-size: 1em;
	}


}

@media screen and (max-width: 970px) {
	.main.signup .col1 {
		display: block;
		margin: 20px auto 0 auto;
		position: static;
	}

	.main.signup .col2 {
		text-align: center;
		float: none;
		display: block;
		margin: 40px auto 0 auto;
		width: 50%;
	}

	.main.signup p {
		display: block;
	}

	.main.signup .col2 #eligepapa {
		margin: 0 auto;
		max-width: 100%;
		display: block;
		font-size: 1em;
	}

	.main.signup .col2 #cantidad {
		margin: 0 auto 40px auto;
		display: block;
		max-width: 100%;
		font-size: 1em;
	}

	.main.signup .col2 #nota {
		margin: 0 auto;
		display: block;
	}

	.main.signup .col2 .button {
		margin: 40px auto 0 auto;
	}

	.fila {
		padding-bottom: 15px;
	}

	.fila .imagen {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}

	.fila .papatext {
		margin: 0 20px;
		display: block;
		max-width: 100%;
	}

	.fila .imagen img {
		margin: 0 auto;
	}

	.main.signup h1 {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 574px) {
	#lupa {
		display: none;
	}

	#copyright p {
		font-size: 0.85em;				
	}	
}

@media screen and (max-width: 574px) {
.mySlides a .text p {
		font-size: .6em;
	}
}

@media screen and (max-width: 400px) {
.mySlides a .text p {
		font-size: .5em;
	}
}