form {
    width: 400px;
    font: normal bold 12px, Arial, Georgia;
}

form label {
    display: inline-block;
    width: 150px;
}

form input {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}
