@import url(https://fonts.googleapis.com/css?family=Bangers|Lato:400,700,900);

#wrapper {
	max-width: 990px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	overflow: hidden;
}

body {
	background-color: lightgray;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}

h1 {
	display: inline-block;
	margin: 5px;
	text-align: center;
	max-width: 35%;
	background-color: white;
}

h1 img {
	max-width: 100%;	
}

/*After HOURS of trial and error, I finally made nav items cover
the vertical area as well by specifying a height for <nav>.*/
nav {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 208px;
}

.item {
	display: flex;
	margin: 5px;
	background: gray;
	color: white;
	justify-content: center;
	font-weight: bold;
	width: 100%;
	align-items: center;
}

nav .item a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.87em;	
	font-family: 'Bangers', cursive;
	color: white;
	letter-spacing: 2px;
}

nav div:hover {
	background-color: lightgrey;
	color: black;
}

nav div a:hover {
	color: black;
}

@media screen and (max-width: 1066px) {
	nav .item a {
		font-size: 1.33em;
	}
}

@media screen and (max-width: 830px) {
	nav .item a {
		font-size: 1em;
	}
}

@media screen and (max-width: 672px) {
	header {
		margin-left: 1.5%;
		margin-right: 1.5%;
		flex-wrap: wrap;
	}

	header h1 {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	header h1 img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 481px) {
	header {
		display: block;
	}

	nav {
		display: block;
		padding: 5px;
		width: auto;
		height: auto;
	}

	nav .item {
		display: block;
		margin: 5px 0;
		padding: 8px 0;
	}

	nav .item a {
		margin-left: 5px;
	}
}
#main {
	border: 3px solid black;
	background-image: url(../images/eyes.png);
	background-color: #e3e3e3;
	max-width: 100%;
	/*height: 500px;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#main h2 {
	font-size: 4em;
	padding-top: 80px;
	font-family: 'Bangers', cursive;
}

#main button {
	margin-top: 10px;
	margin-bottom: 200px;
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	cursor: pointer;
}

@media screen and (max-width: 672px) {
	#main {
		margin-left: 1.5%;
		margin-right: 1.5%;
		background-size: contain;
	}

	#main h2 {
		font-size: 3em;
	}

	#main button {
		font-size: 1em;
	}
}

@media screen and (max-width: 481px) {
	#main h2 {
		padding-top: 70px;
		font-size: 2em;
	}

	#main button {
		font-size: 0.87em;
	}
}

@media screen and (max-width: 392px) {
	#main h2 {
		padding-top: 10px;
	}
}

#marketing {
	text-align: center;
}

#marketing h3 {
	margin: 1em;
	font-weight: bold;
	font-family: 'Bangers', cursive;
	font-size: 2em;
}

#marketing p {
	border: 3px solid black;
	font-family: 'Lato', sans-serif;
	line-height: 1.2em;
	background-color: white;
	padding: 10px;
}

#marketing .col1 {
	border: 3px solid black;
	display: inline-block;
	margin: 10px 5px;
	width: 280px;
	padding: 15px;
	background-color: #e3e3e3;
}

#marketing .col2 {
	border: 3px solid black;
	display: inline-block;
	margin: 10px 5px;
	width: 280px;
	padding: 15px;
	background-color: #e3e3e3;
}

#marketing .col3 {
	border: 3px solid black;
	display: inline-block;
	margin: 10px 5px;
	width: 280px;
	padding: 15px;
	background-color: #e3e3e3;
}

.colimg {
	border: 3px solid black;
	max-width: 100%;
	height: auto;
	border-radius: 200px;
	margin-bottom: 10px;
}

#marketing p {
	text-align: justify;
}

#marketing a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: black;
}

@media screen and (max-width: 1099px) {
	#marketing .col3 {
		width: 610px;
	}
}

@media screen and (max-width: 672px) {
	#marketing .col1 {
		width: 92%;
	}

	#marketing .col2 {
		width: 92%;
	}

	#marketing .col3 {
		width: 92%;
	}

	#marketing .colimg {
		border-radius: 300px;
	}
}

@media screen and (max-width: 560px) {
	#marketing .col1 {
		width: 88%;
	}

	#marketing .col2 {
		width: 88%;
	}

	#marketing .col3 {
		width: 88%;
	}
}

@media screen and (max-width: 418px) {
	#marketing .col1 {
		width: 87%;
	}

	#marketing .col2 {
		width: 87%;
	}

	#marketing .col3 {
		width: 87%;
	}
}

@media screen and (max-width: 375px) {
	#marketing .col1 {
		width: 82%;
		font-size: 0.87em;
	}

	#marketing .col2 {
		width: 82%;
		font-size: 0.87em;
	}

	#marketing .col3 {
		width: 82%;
		font-size: 0.87em;
	}
}

#info {
	border: 3px solid black;
	text-align: center;
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	margin-left: 7px;
	margin-right: 7px;
	background-color: #e3e3e3;
}

#info h2 {
	font-size: 2em;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

#info p {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

#info #vidad {
	font-weight: bold;
}

#arrow {
	position: relative;
	margin-left: 10px;
}

#info button {
	font-family: 'Lato', sans-serif;
}

#info button a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#info .col1 {
	position: relative;
	border: 3px solid black;
	text-align: center;
	margin: 5px;
	width: 40%;
	background-color: white;
}

#info .col2 {
	border: 3x solid black;
	margin: 5px;
}

@media screen and (max-width: 880px) {
	#info {
		flex-wrap: wrap;
		justify-content: center;
	}

	#info .col1 {
		width: 554px;
	}
}

@media screen and (max-width: 618px) {
	iframe {
		width: 360px;
		height: 196.875px;
	}

	#info .col1 {
		max-width: 354px;
	}
}

@media screen and (max-width: 418px) {
	iframe {
		width: 280px;
		height: 157.7px;
	}

	#info .col1 {
		max-width: 274px;
	}
}

@media screen and (max-width: 375px) {
	iframe {
		width: 224px;
		height: 126px;
	}

	#info .col1 {
		max-width: 218px;
	}
}

footer {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	background-color: black;
}

footer li {
	line-height: 1.8em;
}

footer .col1 img {
	max-width: 100%;
}

footer .col1 {
	display: inline-block;
	width: 200px;
	text-align: center;
}

footer .col2 {
	display: inline-block;
	width: 200px;
	text-align: center;
}

footer .col2 a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1.33em;
}

footer .col2 a:hover {
	text-decoration: underline;
}

footer .col3 {
	display: inline-block;
	width: 200px;
	text-align: center;
}

footer .col3 a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1.33em;
}

footer .col3 a:hover {
	text-decoration: underline;
}

footer .col3 li {
	font-family: 'Lato', sans-serif;
	color: white;
}

footer .col4 {
	width: 200px;
	text-align: center;
}

footer .col4 li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

footer .col4 a {
	text-align: center;
}

footer .col4 p {	
	font-family: 'Lato', sans-serif;
	color: white;
}

footer .col4 #youtube, #facebook, #instagram, #twitter {
	width: 150%;
}

footer #facebook:hover {
	opacity: 0.5;
}

footer #youtube:hover {
	opacity: 0.5;
}

footer #instagram:hover {
	opacity: 0.5;
}

footer #twitter:hover {
	opacity: 0.5;
}

@media screen and (max-width: 618px) {
	footer {
		flex-wrap: wrap;
		padding-left: 80px;
		padding-right: 80px;
	}

	@media screen and (max-width: 586px) {
	footer {
		justify-content: center;
	}

	footer .col2 {
		margin-top: 20px;
	}

	footer .col4 {
		margin-top: 25px;
	}


}