@import url(https://fonts.googleapis.com/css?family=Maiden+Orange|Open+Sans:400,700,400italic,300italic,300);


#wrapper {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#contenido {
	max-width: 990px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body {
	background-color: #d4afa2;
}

header {
	border: 30px outset #B4735D;
	background-color: #ffed7f;
	width: 830px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 916px) {
	header {
		width: 530px;
	}
}

@media screen and (max-width: 616px) {
	header {
		width: 230px;
	}
}

h1 {
	font-family: 'Maiden Orange', cursive;
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	padding: 20px;
	color: #B4735D;
	word-spacing: 0.12em;
}

@media screen and (max-width: 616px) {
	header {
		font-size: 0.6em;
	}
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: #443d3b;

}

ul {
	list-style-type: disc;
	padding-left: 10px;
}

li {
	font-size: 1em;
	font-family: sans-serif;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	color: #443d3b;
}

.features {
	max-width: 270px;
	padding: 10px;
	background-color: #beec7e;
	margin: 5px;
	box-shadow: 0.05em 0.05em 0.5em #888888;
}

.features img {
	max-width: 100%;
	object-fit: contain;
}

.imagecont1 {
	width: 100%;
	height: 175px;
	background-image: url(../images/smoothie.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.imagecont2 {
	width: 100%;
	height: 175px;
	background-image: url(../images/yogurt.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.imagecont3 {
	width: 100%;
	height: 175px;
	background-image: url(../images/omelette.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.imagecont4 {
	width: 100%;
	height: 175px;
	background-image: url(../images/sandwich.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.imagecont5 {
	width: 100%;
	height: 175px;
	background-image: url(../images/oatmeal.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.imagecont6 {
	width: 100%;
	height: 175px;
	background-image: url(../images/avocado.jpg);
	background-size: cover;
	margin-bottom: 20px;
	box-shadow: 0.1em 0.1em 0.2em #888888;
}

.features p {
	padding: 10px;
	text-align: justify;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	text-align: justify;
	color: #443d3b;
}